<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--设置别名-->
        <package name="org.example.crm.settings.domain"/>
    </typeAliases>

    <mappers><!--设置mapper文件-->
        <package name="org.example.crm.settings.dao"/>
    </mappers>
</configuration>